.hero {
  background-image: url('../images/landscape-sky-night-stars-29435.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 400px;
}

.hero h1 {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  color: white;
}

.bloghero {
  background-image: url('../images/landscape-sky-night-stars-29435.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Muli',sans-serif;
  color: white;
}

.blogstuff {
  font-family: 'Muli',sans-serif;
  background-image: url('../images/pexels-photo-220201.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 400px;
  color: white;
}

}
.divider {
  height: 20px;
  width: 100%;
  }

.navbutton  {
  font-family: 'Muli',sans-serif;
  background-color: #ECEFF2;
  text-decoration: none;
  color: black;
}
.blognav  {
  font-family: 'Muli',sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  background-color: #ECEFF2;
}

.bottombit {
  background-image: url('../images/landscape-sky-night-stars-29435.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: center;
  padding-top: 50px;
}

#homekey{
  font-size: 15px;
  color: white;
}

.one-third.column {
  text-align: center;
  text-decoration: none;
  color: black;
}

a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.ul.blogposts a {
  font-family: 'Muli',sans-serif;
  text-decoration: none;
}

.content a {
  padding-top: : 50px;
  font-family: 'Muli',sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 400;
}
