body {
  background-color: white;
  text-align: center;
  font-family: Gotham, sans-serif;
  display: block;
}

.row {
   width: 100%
   display:inline-flex;
   flex-wrap: wrap;
   ;
}

.col-12 {
  width: 100%
}

.home {
  margin:auto;
}

.col-3 {
  width: 25%
  display:block;


}

h1 {
   color: #CCDFCC;
}

a {
  color: #CCDFCC;
  font-weight: bold;
  text-decoration-line: none;
}


p {
  color: #555;
}

 {

}
